.main {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
  min-width: 100vw;
  font-family: 'Inter', sans-serif;
  transition: 500ms all ease-in-out;
  overflow-x: hidden !important;
}

@keyframes load_in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.formInput {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  /* display: grid;
  justify-content: center; */
  align-items: center;
  text-align: center;
  /* place-items: center; */
  font-family: 'Inter', sans-serif;
  /* position: relative; */
  /* padding: 4rem 0; */
}

.col-item {
  transition: transform 0.3s ease-out;
  overflow: hidden;
}

.col-item.visible {
  transform: translateX(0) !important;
}

#loginText {
  text-align: center !important;
  margin-bottom: 0;
}
.login {
  transition: 2s all ease-in-out;
  
}

.center h1 {
  font-size: 60px;
  font-family: 'Inter', sans-serif;
  animation: slide-y 1s ease;
  margin-top: 0;
}

.center h3, .center .landingbtn {
  animation: slide-y 1s ease;
}

.center h3 {
  font-family: 'Inter', sans-serif;
}

.center h1 span {
  display: inline-block;
  color: #d16bce;
}

.center h1 span::after
{
    content:' ';
    display:block;
    border:2px solid transparent;
    animation: slide-in 0.5s 1s ease both;
}

.getStarted:hover span {
  transform: translateX(4px) !important;
}

.rightside {
  transition: 100ms ease-in-out;
}

.landingbtn:hover .rightside {
  transform: translateX(0.25rem);
}

@keyframes rotate {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.25rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    border: 2px solid #d16bce;
  }
}

@keyframes slide-y {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}