.login-page {
  background-color: #bef0ff;
}

@keyframes slide-in {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(0);
  }
}

.white-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 50vw; /* Set the width to 50% of the viewport width */
  height: 100vh; /* Set the height to 100% of the viewport height */
  animation: slide-in 0.8s ease-in-out forwards;
}